<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Test">

    <!--给定空间的缓存配置
    <cache></cache>-->
    <!--其它命名空间缓存配置的引用
    <cache-ref namespace=""/>-->
    <!--是最复杂也是最强大的元素，用来描述如何从数据库结果集中来加载对象。
    <resultMap id="" type=""/>-->

    <sql id="queryFields">
      id ,age,cat_name
    </sql>
    
    <select id="selectById" parameterType="int" resultType="Cat" >
        SELECT
        <include refid="queryFields"></include>
        FROM `cat` WHERE id=#{id}
    </select>

</mapper>